#app { 
  display: grid;

  height: 300px;
  width: 500px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

#header {
  background-color: #9BCE1D;
  grid-column:1 / -1;
  grid-row: 1/ 2;
}

#main {
  background-color: #F7F5D8
}

#article-1 {
  background-color: lightcoral;
  grid-column: 2 / 3
}

#article-2 {
  background-color: violet;
  grid-column: 0 / 0;
  grid
}

#nav {
  background-color: cornflowerblue;
  grid-column: 1 /2;
  grid-row: 2/ 3;
}
 
#adarea {
  background-color: cornflowerblue;
}

#footer {
  background-color: #9BCE1D;
grid-column: 1 / -1;
grid-row : 3 /4 
}
